!!!
%html{lang: "en"}
  %head
    %title Blog
    = stylesheet_link_tag    "application", :media => "all"
    /[if lt IE 9] 
      = stylesheet_link_tag    "ie8", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %body{"data-spy" => "scroll"}
    .container
      = yield
